@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-color: rgb(230, 224, 216);
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #3498db9d;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.about_tittle {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

#result {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.count-box {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
    flex: 1;
    margin: 0 0.5rem;
}

.count-box i {
    font-size: 2rem;
    color: #3498db;
    margin-bottom: 0.5rem;
}

.count-box span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.count-box p {
    color: #666;
}

footer {
    background-color: transparent;
    color: #333;
    text-align: center;
    padding: 1rem;
    position: relative;
    margin-top: auto;
}

.social-icons {
    margin-top: 0.5rem;
}

.social-icons a {
    color: #333;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #3498db;
}

.about-container {
    max-width: 800px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}

.about-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.about-text ul {
    list-style-type: none;
    padding-left: 0;
}

.about-text ul li {
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1.5rem;
}
